<section>
<div class="container">

      <form class="form-signin" name="form" ng-submit="login()">
        <h2 class="form-signin-heading">Please Log In</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Email address" autofocus ng-model="user.email" required>
        <label for="inputPassword" class="sr-only" >Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password"  ng-model="user.password" required>
        <div class="checkbox">
         
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
      </form>

    </div>
</section>