<section>

		
                <div class="jumbotron">
		<div class="container"><h1>Ask Question</h1>
			<blockquote>
                              <form name="form" ng-submit="submitQuestion()">
                                <p><input type="text" id="title" class="form-control" placeholder="Question Title" autofocus ng-model="question.title" required></p>
				<p><textarea class="form-control" rows="12"  autofocus ng-model="question.que" required></textarea></p>
				 <button class="btn btn-primary btn-block " type="submit">Submit</button>
                                        </form>
			</blockquote>
		</div></div>
</section>